name: Deploy Shiny (Python) to shinyapps.io

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
          # 开启缓存，只要 requirements.txt 不变，下次部署会极快
          cache: 'pip' 

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install rsconnect-python
          pip install -r requirements.txt

      - name: Deploy to shinyapps.io
        env:
          SHINYAPPS_ACCOUNT: ${{ secrets.SHINYAPPS_ACCOUNT }}
          SHINYAPPS_TOKEN: ${{ secrets.SHINYAPPS_TOKEN }}
          SHINYAPPS_SECRET: ${{ secrets.SHINYAPPS_SECRET }}
        run: |
          rsconnect add \
            --account "${SHINYAPPS_ACCOUNT}" \
            --token "${SHINYAPPS_TOKEN}" \
            --secret "${SHINYAPPS_SECRET}" \
            --name "shinyapps-server"
          
          rsconnect deploy shiny . \
            --account "${SHINYAPPS_ACCOUNT}" \
            --server "shinyapps.io" \
            --title "motivation"
